.container {
    
    background-color: blue;
    border: 2px solid black;
    width: 830px;
    height: 710px;
}
.block_title {
    margin: 10px;
    
    color: aqua; 

}
.block_posters {
    display: inline-block;
    margin-left: 10px;
    
}

img {
   
    width: 200px;
    height: 300px;
}